<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bgmi.esp">
    
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:label="BGMI ESP"
        android:name="${applicationName}"
        android:icon="@drawable/ic_launcher"
        android:usesCleartextTraffic="true">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name="com.bgmi.esp.OverlayService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
            
    </application>
</manifest>